{% extends 'base.html.twig' %}

{% block title %}
	Admin | Login
{% endblock %}

{% block main %}

	<div class="min-h-screen flex items-center p-4">
		<div class="bg-secondary max-w-md w-full p-6 rounded-md m-auto border-color border-solid border-[1px]">
			<form method="post" class="flex flex-col h-full justify-around  gap-2  text-white">


				{% if app.user %}
					<div class="mb-3 ">
						You are logged in as
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}
				<h1 class="h3 mb-3 font-weight-normal text-center text-3xl">Admin Panel</h1>
				{% if error %}
					<div class="text-red-400">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				<label for="username">Username :</label>

				<input class="w-full h-10 text-color placeholder-gray-500 bg-transparent p-2 border-color outline-0 rounded focus:border-[#2276f5] focus:border-[1px] border-[1px]" type="text" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="username" required autofocus>
				<label class=" mt-6" for="password">Password :</label>
				<input class="w-full h-10 text-color placeholder-gray-500 bg-transparent p-2 border-color outline-0 rounded focus:border-[#2276f5] focus:border-[1px] border-[1px]" type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<button class="text-2xl rounded bg-blue text-white px-6 py-4 mt-8 hover:opacity-95" type="submit">
					Sign In
				</button>
			</form>
		</div>
	</div>

{% endblock %}
